## Practice with pandas using DEA ARCOS data

### Background

#### What is ARCOS?
The DEA publishes data annually from its Automation of Reports and Consolidated Orders System, or ARCOS. According to the DEA's website, ARCOS "monitors the flow of DEA controlled substances from their point of manufacture through commercial distribution channels to point of sale or distribution at the dispensing/retail level - hospitals, retail pharmacies, practitioners, mid-level practitioners, and teaching institutions....these transactions...are then summarized into reports which give investigators in Federal and state government agencies information which can then be used to identify the diversion of controlled substances into illicit channels of distribution. The information on drug distribution is used throughout the United States (U.S.) by U.S. Attorneys and DEA investigators to strengthen criminal cases in the courts."

So, ARCOS exists to help the government identify patterns in the manufacture and distribution of controlled substances that might indicate that these substances are being sold illegally. Annual ARCOS reports are publically available on the DEA's website, dating back to the year 2000, but unfortunately they are only available in PDF form and are dozens or even hundreds of pages long. 

#### What's in this notebook?
I was interested in doing some data analysis and visualization on the distribution of oxycodone, an opioid painkiller that is one of the main drivers of the current prescription pain pill (and arguably heroin) addiction epidemic in the United States right now. 

Aside from a wealth of fascinating (and sometimes disturbing, sad, and frightening) data to explore, the ARCOS data also presents a great data cleansing challenge, given that it is distributed in PDFs - the perfect opportunity to practice your pandas skills, for example. Luckily, the files tend to have nearly identical formatting, aside from a shift in report formatting in 2006 and a few anomalies here and there.

I'm sharing the code I used to compile these datasets so that others can learn from and improve upon it.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

### Approach 

Get the raw data (in PDF....!)
You can find the ARCOS reports here: https://www.deadiversion.usdoj.gov/arcos/retail_drug_summary/index.html

There are six ARCOS reports published each year and I chose to work with three of them in particular:
* Report 1:  Retail Drug Distribution by Zip Code for Each State - total drug amounts (in grams) distributed to retail registrants in each state, by 'gateway' zip code (the first three numbers of the zip), on a quarterly basis
* Report 3: Quarterly Distribution in Grams per 100K Population - quarterly drug consumption in grams per 100,000 population, by state
* Report 5: Statistical Summary for Retail Drug Purchases - average annual purchases by drug by business activity (pharmacy, hospital, etc.)


A few notes: 

* For years before 2006, the reports are lumped together into one giant PDF (700+ pages long). In more recent years they have elected to publish a separate PDF for each report. 

* I tried several approaches for simply getting the text out of the PDF - for a variety of reasons (in particular the unwieldy nature of the pre-2006 PDFs), it was easiest and quickest to just copy-paste the entire contents of the PDF into a text file. This was an OK solution for me since there aren't that many of them - if you were doing this with hundreds of files you would want to find another way. Another problem I ran into right away was the length of the title running onto multiple lines in the txt file and causing a lot of formatting challenges in a dataframe, so I manually adjusted the title text in each txt file. 

* For the pre-2006 reports, I (manually and carefully) removed the report content I wasn't interested in from the text file, and then used pandas to clean what remained.

#### Cleaning Report 1 - Retail Drug Distribution by Zip Code for Each State

These reports I'll refer to as the "zip reports" as they are the only ones at the gateway zip code level (others are at state level).

The first step is just to work on cleaning up the formatting, which is really nasty coming right out of the PDF.

In [2]:
# I experimented with different delimiters and found whitespace to require the least amt of add'l cleaning
zip_2000 = pd.read_csv('zip_2000.txt', delim_whitespace=True)
zip_2000.head(10)

,ARCOS,2,-,REPORT,1,RETAIL,DRUG,DISTRIBUTION,BY,ZIP,CODE,FOR,EACH,STATE
0,REPORTING,PERIOD:,01/01/2000,TO,12/31/2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,STATE:,ALASKA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ZIP,CODE,1ST,QUARTER,2ND,QUARTER,3RD,QUARTER,4TH,QUARTER,TOTAL,TO,DATE,NaN
3,----------------------------------------------...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DRUG,CODE:,1100B,DRUG,NAME:,DL-AMPHETAMINE,BASE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,995,416.16,396.63,433.46,423.54,"1,669.79",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,996,102.76,100.63,88.24,108.29,399.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,997,114.37,85.54,92.30,128.31,420.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,998,33.42,18.83,28.37,36.55,117.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,999,4.28,4.59,2.93,10.63,22.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Not too pretty. I removed some extra text from the start of the report and moved the title all onto one line so that there would be enough columns when delimiting on spaces - I did this when I created the text files but you could do it as part of your pandas workflow instead. 

I dumped a couple more of the older years into .txt files and checked to make sure they looked essentially the same, then I worked on constructing a function that would clean this first file (and hopefully all the others). This involved *a lot* of trial and error and didn't proceed in the organized way I'll present it here. 


#### Renaming columns
First, I renamed the columns to make it easier to look at, since the numeric information I'm interested in looked pretty intact and clean.

In [3]:
zip_2000.rename(columns={'ARCOS': "Zip", 
                         '2':'Q1', 
                         '-': 'Q2', 
                         'REPORT': 'Q3', 
                         '1':'Q4', 
                         'RETAIL':'TOTAL'},
                inplace=True)
zip_2000.head(15)

,Zip,Q1,Q2,Q3,Q4,TOTAL,DRUG,DISTRIBUTION,BY,ZIP,CODE,FOR,EACH,STATE
0,REPORTING,PERIOD:,01/01/2000,TO,12/31/2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,STATE:,ALASKA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ZIP,CODE,1ST,QUARTER,2ND,QUARTER,3RD,QUARTER,4TH,QUARTER,TOTAL,TO,DATE,NaN
3,----------------------------------------------...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DRUG,CODE:,1100B,DRUG,NAME:,DL-AMPHETAMINE,BASE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,995,416.16,396.63,433.46,423.54,"1,669.79",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,996,102.76,100.63,88.24,108.29,399.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,997,114.37,85.54,92.30,128.31,420.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,998,33.42,18.83,28.37,36.55,117.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,999,4.28,4.59,2.93,10.63,22.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,STATE,TOTAL,670.99,606.22,645.30,707.32,"2,629.83",NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,DRUG,CODE:,1100D,DRUG,NAME:,D-AMPHETAMINE,BASE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,995,"1,694.20","1,741.24","1,598.97","1,597.99","6,632.40",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,996,285.32,250.34,235.05,270.65,"1,041.36",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,997,289.63,224.83,243.44,312.43,"1,070.33",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Fixing shifted data
The next obvious problem is that the data in each of the state total rows (see row 10 above for example), the data has been bumped over by one column. 

This could be handled many ways, but obviously we want to avoid looping over a large dataframe, so here is one approach.

In [4]:
start = ['Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']
shift = ['Q2', 'Q3', 'Q4', 'TOTAL', 'DRUG']

zip_2000.loc[zip_2000['Zip']=='STATE','Zip'] = zip_2000['Q1']
for i in range(0,5):
    zip_2000.loc[zip_2000['Zip']=='TOTAL', start[i]] = zip_2000[shift[i]]
zip_2000.head(15)

,Zip,Q1,Q2,Q3,Q4,TOTAL,DRUG,DISTRIBUTION,BY,ZIP,CODE,FOR,EACH,STATE
0,REPORTING,PERIOD:,01/01/2000,TO,12/31/2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,STATE:,ALASKA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ZIP,CODE,1ST,QUARTER,2ND,QUARTER,3RD,QUARTER,4TH,QUARTER,TOTAL,TO,DATE,NaN
3,----------------------------------------------...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,DRUG,CODE:,1100B,DRUG,NAME:,DL-AMPHETAMINE,BASE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,995,416.16,396.63,433.46,423.54,"1,669.79",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,996,102.76,100.63,88.24,108.29,399.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,997,114.37,85.54,92.30,128.31,420.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,998,33.42,18.83,28.37,36.55,117.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,999,4.28,4.59,2.93,10.63,22.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,TOTAL,670.99,606.22,645.30,707.32,"2,629.83","2,629.83",NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,DRUG,CODE:,1100D,DRUG,NAME:,D-AMPHETAMINE,BASE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,995,"1,694.20","1,741.24","1,598.97","1,597.99","6,632.40",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,996,285.32,250.34,235.05,270.65,"1,041.36",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,997,289.63,224.83,243.44,312.43,"1,070.33",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Getting the state, year, and drug name into proper columns

Next, I know I want a column to indicate the state, year, and drug, so I'll add those. The data for each of these columns is all there, but it's jumbled around so organizing it is the next step.

By examining the raw data, I can see that state names always appear in a certain consistent way. That means pulling the state names out is relatively simple, but don't forget to account for the states whose names are more than one word (and don't forget District of Columbia!). 

Note that there are some US territories included in the data, including Guam, which in older files is sometimes referred to as "Trust Territories (Guam)." For simplicity I will change that to simply be "Guam" in all the dataframes.

In [5]:
# Insert year, state, and drug columns

zip_2000.insert(column='Year', loc=0, value=2000)
zip_2000.insert(column='State', loc=1, value=None)
zip_2000.insert(column='Drug', loc=2, value=None)


# If "STATE:" is in the "Zip" column, I can get the state name from this row
# The state name will be in the cell(s) following, 
# and all the rest of the cells in the row should be NaNs
zip_2000.loc[zip_2000['Zip']=='STATE:', 'State'] = zip_2000['Q1']

# If "STATE:" is in the "Zip" column but "Q2" column isn't a NaN, 
# then it's a two-word state
zip_2000.loc[(zip_2000['Zip']=="STATE:") & 
             (pd.notnull(zip_2000['Q2'])), 'State'] = zip_2000["State"]+" "+zip_2000['Q2']

# If "STATE:" is in the "Zip" column and both "Q2" and "Q3" aren't NaN, 
# then it's a three-word state
zip_2000.loc[(zip_2000['Zip']=="STATE:") & 
             (pd.notnull(zip_2000['Q3'])), 'State'] = zip_2000["State"]+" "+zip_2000['Q3']

# Change the references to Guam
zip_2000.loc[zip_2000['State']=='TRUST TERRITORIES (GUAM)', 'State']='GUAM'

# Check the state names and number of "states" present in the column

print(zip_2000['State'].unique())
print(len(zip_2000['State'].unique()))

[None 'ALASKA' 'ALABAMA' 'ARKANSAS' 'ARIZONA' 'CALIFORNIA' 'COLORADO'
 'CONNECTICUT' 'DISTRICT OF COLUMBIA' 'DELAWARE' 'FLORIDA' 'GEORGIA'
 'HAWAII' 'IOWA' 'IDAHO' 'ILLINOIS' 'INDIANA' 'KANSAS' 'KENTUCKY'
 'LOUISIANA' 'MASSACHUSETTS' 'MARYLAND' 'MAINE' 'MICHIGAN' 'MINNESOTA'
 'MISSOURI' 'MISSISSIPPI' 'MONTANA' 'NEBRASKA' 'NORTH CAROLINA'
 'NORTH DAKOTA' 'NEW HAMPSHIRE' 'NEW JERSEY' 'NEW MEXICO' 'NEVADA'
 'NEW YORK' 'OHIO' 'OKLAHOMA' 'OREGON' 'PENNSYLVANIA' 'PUERTO RICO'
 'RHODE ISLAND' 'SOUTH CAROLINA' 'SOUTH DAKOTA' 'TENNESSEE' 'GUAM' 'TEXAS'
 'UTAH' 'VIRGINIA' 'VIRGIN ISLANDS' 'VERMONT' 'WASHINGTON' 'WISCONSIN'
 'WEST VIRGINIA' 'WYOMING']
55

#### Cleaning up ...carefully

From looking at the data, we can already determine at this point that there's a lot here we won't need. For example, there are headers on most pages of the PDF reports with info like the reporting period, the name of the report, etc. We wouldn't expect there to be any useful data in those rows and we can confirm this before dropping these rows out to clean up the df and reduce size a little. 

With messy data where you can't rely on the data consistently being in a particular column, be very careful when dropping rows like this. I checked every row I was dropping (see cell below) to make sure I wasn't accidentally removing any of the real data.

In [12]:
# to confirm for yourself as I did when I was doing the cleaning, 
# uncomment any of the lines below and see the rows we'll be dropping out

#zip_2000[zip_2000['Zip']=='ENFORCEMENT']
#zip_2000[zip_2000['Zip']=='REPORTING']
#zip_2000[zip_2000['Zip']=='RETAIL']
#zip_2000[zip_2000['Zip']=='DATE:']
#zip_2000[zip_2000['Zip']=='ZIP']
#zip_2000[zip_2000['Zip']=='ARCOS']
#zip_2000[zip_2000['Q1']=='ENFORCEMENT']
#zip_2000[zip_2000['Q1']=='REPORTING']
#zip_2000[zip_2000['Q1']=='RETAIL']
#zip_2000[zip_2000['Q1']=='DATE:']
#zip_2000[zip_2000['Q1']=='ZIP']
#zip_2000[zip_2000['Q1']=='ARCOS']

In [13]:
# Now we can drop all that garbage!
# This will make it easier to look at the remaining data to see what still needs to be addressed

drops = ['ENFORCEMENT', 'REPORTING', 'RETAIL', 'DATE:', 'ZIP', 'ARCOS']

for d in drops:
    zip_2000 = zip_2000.drop(zip_2000[zip_2000['Zip']==d].index)
    zip_2000 = zip_2000.drop(zip_2000[zip_2000['Q1']==d].index)
    
zip_2000.head(10)

,Year,State,Drug,Zip,Q1,Q2,Q3,Q4,TOTAL,DRUG,DISTRIBUTION,BY,ZIP,CODE,FOR,EACH,STATE
1,2000,ALASKA,None,STATE:,ALASKA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,None,None,----------------------------------------------...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,None,None,DRUG,CODE:,1100B,DRUG,NAME:,DL-AMPHETAMINE,BASE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2000,None,None,995,416.16,396.63,433.46,423.54,"1,669.79",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2000,None,None,996,102.76,100.63,88.24,108.29,399.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2000,None,None,997,114.37,85.54,92.30,128.31,420.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2000,None,None,998,33.42,18.83,28.37,36.55,117.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2000,None,None,999,4.28,4.59,2.93,10.63,22.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2000,None,None,TOTAL,670.99,606.22,645.30,707.32,"2,629.83","2,629.83",NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2000,None,None,DRUG,CODE:,1100D,DRUG,NAME:,D-AMPHETAMINE,BASE,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Getting the drug names
The next sticky issue is how to get the drug names into our drug column. If you look through the data, you'll see that they vary a lot in length. It would not be easy to define rules to cover the majority of cases in a way similar to how I got the state names. 

I eventually used the drug codes instead of the names of the drugs themselves - they're much more uniform and tend to show up consistently in particular columns. To do this I had to comb through and find out which codes were referenced in a given file, but this didn't take long and in the end this was a very reliable way to do this part of the cleansing. 

I've put the drug codes dictionary below, but in practice it would be tidier to save it off in a file and load it into a dict when you were ready for it. I used this same dictionary to cover all of the files I processed.

In some cases, there are sub codes, and I've preserved those here and kept to the original raw data as much as possible. For example, there are two codes, 9041 and 9041L, that both refer simply to "cocaine" in the reports. I have not been able to find out from anywhere on the DEA website how these are different (if you find out let me know!) so left it alone here since it's not my primary drug of interest for this analysis.

Once armed with the codes, we can easily extract the drug names!

In [15]:
drug_codes = {'1100': 'AMPHETAMINE',
              '1100B': 'DL-AMPHETAMINE BASE',
              '1100D': 'D-AMPHETAMINE BASE',
              '1105B': 'DL-METHAMPHETAMINE RACEMIC BASE',
              '1105D': 'D-METHAMPHETAMINE',
              '1105L': 'LEVOMETHAMPHETAMINE',
              '1205': 'LISDEXAMFETAMINE',
              '1248': 'MEPHEDRONE; 4-METHOXYMETHCATHINONE',
              '1615': 'PHENDIMETRAZINE',
              '1724': 'METHYLPHENIDATE',
              '2010': 'GAMMA HYDROXYBUTYRIC ACID',
              '2012': 'GAMMA HYDROXYBUTYRIC ACID PREPARATIONS',
              '2100': 'BARBITURIC ACID DERIVIATIVE OR SALT',
              '2125': 'AMOBARBITAL (SCHEDULE 2)',
              '2165': 'BUTALBITAL',
              '2270': 'PENTOBARBITAL (SCHEDULE 2)',
              '2285': 'PHENOBARBITAL',
              '2315': 'SECOBARBITAL (SCHEDULE 2)',
              '2765': 'DIAZEPAM',
              '2783': 'ZOLPIDEM',
              '2885': 'LORAZEPAM',
              '4187': 'TESTOSTERONE',
              '7285': 'KETAMINE',
              '7315D': 'LYSERGIDE(D-LSD)',
              '7369': 'DRONABINOL IN SESAME OIL',
              '7370': 'TETRAHYDROCANNABINOL,SYNTHETIC',
              '7377': 'CANNABICYCLOL',
              '7379': 'NABILONE',
              '7381': 'MESCALINE',
              '7400': '3,4-METHYLENEDIOXYAMPHETAMINE (3,4-MD',
              '7431': '5-METHOXY-N,N DIMETHYLTRYPTAMINE',
              '7433': 'BUFOTENINE',
              '7437': 'PSILOCYBIN',
              '7438': 'PSILOCIN',
              '7439': '5-METHOXY-N,N-DIISOPROPYLTRYPTAMINE(5',
              '7540': 'METHYLONE (3,4-METHYLENEDIOXY-N-METH',
              '7444': '4-HYDROXY-3-METHOXY-METHAMPHETAMINE',
              '7455': 'ETICYCLIDINE (PCE)',
              '7471': 'PHENCYCLIDINE (PCP)',
              '9010': 'ALPHAPRODINE',
              '9020': 'ANILERIDINE',
              '9041': 'COCAINE',
              '9041L': 'COCAINE',
              '9046': 'NORCOCAINE',
              '9050': 'CODEINE',
              '9104': 'NORCODEINE',
              '9056': 'ETORPHINE',
              '9058': 'DIPRENORPHINE',
              '9064': 'BUPRENORPHINE',
              '9120': 'DIHYDROCODEINE',
              '9143': 'OXYCODONE',
              '9150': 'HYDROMORPHONE',
              '9168': 'DIFENOXIN(I.E.DIPHENOXYLIC ACID)',
              '9170': 'DIPHENOXYLATE',
              '9180': 'ECGONINE',
              '9180L': 'ECGONINE',
              '9190': 'ETHYLMORPHINE',
              '9193': 'HYDROCODONE',
              '9200': 'HEROIN',
              '9220L': 'LEVORPHANOL',
              '9230': 'MEPERIDINE (PETHIDINE)',
              '9273D': 'DEXTROPROPOXYPHENE',
              '9250B': 'METHADONE',
              '9300': 'MORPHINE',
              '9313': 'NORMORPHINE',
              '9317': 'NALTREXONE',
              '9333': 'THEBAINE',
              '9336': 'MORPHINE-3-ETHEREAL SULFATE',
              '9411': 'NALOXONE',
              '9600': 'OPIUM',
              '9603': 'ALPHAACETYLMETHADOL',
              '9630': 'OPIUM TINCTURE',
              '9639': 'OPIUM POWDERED',
              '9652': 'OXYMORPHONE',
              '9655': 'PAREGORIC/OPIUM',
              '9665': '14-HYDROXYCODEINONE',
              '9668': 'NOROXYMORPHONE',
              '9670': 'CONCENTRATE OF POPPY STRAW',
             '9737': 'ALFENTANIL',
             '9739': 'REMIFENTANIL',
             '9740': 'SUFENTANIL BASE',
             '9743': 'CARFENTANIL',
             '9780': 'TAPENTADOL',
             '9801': 'FENTANYL BASE',
             }

In [16]:
for key in drug_codes.keys():
    zip_2000.loc[(zip_2000['Q1']=='CODE:')&(zip_2000['Q2']==key), 'Drug'] = drug_codes[key]

zip_2000.head(10)

,Year,State,Drug,Zip,Q1,Q2,Q3,Q4,TOTAL,DRUG,DISTRIBUTION,BY,ZIP,CODE,FOR,EACH,STATE
1,2000,ALASKA,None,STATE:,ALASKA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,None,None,----------------------------------------------...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,None,DL-AMPHETAMINE BASE,DRUG,CODE:,1100B,DRUG,NAME:,DL-AMPHETAMINE,BASE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2000,None,None,995,416.16,396.63,433.46,423.54,"1,669.79",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2000,None,None,996,102.76,100.63,88.24,108.29,399.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2000,None,None,997,114.37,85.54,92.30,128.31,420.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2000,None,None,998,33.42,18.83,28.37,36.55,117.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2000,None,None,999,4.28,4.59,2.93,10.63,22.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2000,None,None,TOTAL,670.99,606.22,645.30,707.32,"2,629.83","2,629.83",NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2000,None,D-AMPHETAMINE BASE,DRUG,CODE:,1100D,DRUG,NAME:,D-AMPHETAMINE,BASE,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Forward fill states and drug names

I'm not doing multilevel indexing with this data to keep it more portable; a result I needed to fill down the state and drug names. 

pandas has a convenient method to fill nulls (in this case forward fill) that works perfectly here.

In [18]:
zip_2000['State'] = zip_2000['State'].fillna(method='ffill')
zip_2000['Drug'] = zip_2000['Drug'].fillna(method='ffill')

zip_2000.head(15)

,Year,State,Drug,Zip,Q1,Q2,Q3,Q4,TOTAL,DRUG,DISTRIBUTION,BY,ZIP,CODE,FOR,EACH,STATE
1,2000,ALASKA,None,STATE:,ALASKA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,ALASKA,None,----------------------------------------------...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,ALASKA,DL-AMPHETAMINE BASE,DRUG,CODE:,1100B,DRUG,NAME:,DL-AMPHETAMINE,BASE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2000,ALASKA,DL-AMPHETAMINE BASE,995,416.16,396.63,433.46,423.54,"1,669.79",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2000,ALASKA,DL-AMPHETAMINE BASE,996,102.76,100.63,88.24,108.29,399.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2000,ALASKA,DL-AMPHETAMINE BASE,997,114.37,85.54,92.30,128.31,420.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2000,ALASKA,DL-AMPHETAMINE BASE,998,33.42,18.83,28.37,36.55,117.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2000,ALASKA,DL-AMPHETAMINE BASE,999,4.28,4.59,2.93,10.63,22.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,2000,ALASKA,DL-AMPHETAMINE BASE,TOTAL,670.99,606.22,645.30,707.32,"2,629.83","2,629.83",NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,2000,ALASKA,D-AMPHETAMINE BASE,DRUG,CODE:,1100D,DRUG,NAME:,D-AMPHETAMINE,BASE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2000,ALASKA,D-AMPHETAMINE BASE,995,"1,694.20","1,741.24","1,598.97","1,597.99","6,632.40",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2000,ALASKA,D-AMPHETAMINE BASE,996,285.32,250.34,235.05,270.65,"1,041.36",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,2000,ALASKA,D-AMPHETAMINE BASE,997,289.63,224.83,243.44,312.43,"1,070.33",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2000,ALASKA,D-AMPHETAMINE BASE,998,83.99,35.38,45.70,72.83,237.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2000,ALASKA,D-AMPHETAMINE BASE,999,17.10,13.74,13.45,27.67,71.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

#### Final cleaning steps
The last few steps are to drop out remaining junk and convert the numeric data since it's not reading in as floats.

In [24]:
zip_2000=zip_2000.drop(zip_2000[zip_2000['Zip']=='DRUG'].index)
zip_2000=zip_2000.drop(zip_2000[zip_2000['Zip']=='STATE:'].index)
zip_2000 = zip_2000[['Year', 'State', 'Drug', 'Zip', 'Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']]
zip_2000 = zip_2000.drop(zip_2000.loc[pd.isnull(zip_2000['TOTAL'])].index)

cols = ['Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']
for col in cols:
    zip_2000[col]=zip_2000[col].str.replace(",","").astype(float)

zip_2000.head()

,Year,State,Drug,Zip,Q1,Q2,Q3,Q4,TOTAL
5,2000,ALASKA,DL-AMPHETAMINE BASE,995,416.16,396.63,433.46,423.54,1669.79
6,2000,ALASKA,DL-AMPHETAMINE BASE,996,102.76,100.63,88.24,108.29,399.92
7,2000,ALASKA,DL-AMPHETAMINE BASE,997,114.37,85.54,92.30,128.31,420.52
8,2000,ALASKA,DL-AMPHETAMINE BASE,998,33.42,18.83,28.37,36.55,117.17
9,2000,ALASKA,DL-AMPHETAMINE BASE,999,4.28,4.59,2.93,10.63,22.43

And there's a cleaned dataframe! These steps can be refactored into a function that can be reused, assuming your txt files are in the same format :)

Again with this type of data, be careful assuming that formats will be consistent, especially when moving from PDFs into any delimited format. 

My refactored code is below - I ended up needing two versions of the function because the report formats changed a bit.

In [22]:
# Here's the refactored code to use on 'old year' data
def clean_zip_old(df, year):
    df.rename(columns={'ARCOS': "Zip", 
                       '2':'Q1', 
                       '-': 'Q2', 
                       'REPORT': 'Q3', 
                       '1':'Q4', 
                       'RETAIL':'TOTAL'}, 
                  inplace=True)
    
    # Fix the shifted cells
    start = ['Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']
    shift = ['Q2', 'Q3', 'Q4', 'TOTAL', 'DRUG']
    df.loc[df['Zip']=='STATE','Zip'] = df['Q1']
    for i in range(0,5):
        df.loc[df['Zip']=='TOTAL', start[i]] = df[shift[i]]
   
    # Insert new columns
    df.insert(column='Year', loc=0, value=year)
    df.insert(column='State', loc=1, value=None)
    df.insert(column='Drug', loc=2, value=None)

    # Get the state names
    df.loc[df['Zip']=='STATE:', 'State'] = df['Q1']
    df.loc[(df['Zip']=="STATE:") & 
           (pd.notnull(df['Q2'])), 'State'] = df["State"]+" "+df['Q2']
    df.loc[(df['Zip']=="STATE:") & 
           (pd.notnull(df['Q3'])), 'State'] = df["State"]+" "+df['Q3']

    # Change the references to Guam
    df.loc[df['State']=='TRUST TERRITORIES (GUAM)', 'State'] = 'GUAM'        

    # Drop unnecessary columns    
    drops = ['ENFORCEMENT', 'REPORTING', 'RETAIL', 'DATE:', 'ZIP', 'ARCOS']
    for d in drops:
        df = df.drop(df[df['Zip']==d].index)
        df = df.drop(df[df['Q1']==d].index)
    
    # Pull out the drug name
    for key in drug_codes.keys():
        df.loc[(df['Q1']=='CODE:') &
               (df['Q2']==key), 'Drug'] = drug_codes[key]

    # Forward fill the states and drugs
    df['State'] = df['State'].fillna(method='ffill')
    df['Drug'] = df['Drug'].fillna(method='ffill')

    # Final cleanup
    df=df.drop(df[df['Zip']=='DRUG'].index)
    df=df.drop(df[df['Zip']=='STATE:'].index)
    df = df[['Year', 'State', 'Drug', 'Zip', 
             'Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']]
    df = df.drop(df.loc[pd.isnull(df['TOTAL'])].index)
    cols = ['Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']
    for col in cols:
        df[col]=df[col].str.replace(",","").astype(float)
    return df

### Quality and sense checks
Given that this data hads a lot of rows and it's not realistic to check them all manually, it would be a good idea to do some sense checks at this point. For example...

* Do the quarterly columns sum up to the total?
* Do we have all our states?
* Did the forward filling produce any issues? For example, this might present as two rows with the same year-state-drug-zip combination where we should only have one

In [25]:
# check functions
def quarterly_check(df):
    df['check'] = df[['Q1', 'Q2', 'Q3', 'Q4']].sum(axis=1)
    df['diff'] = df['TOTAL'] - df['check']
    issues = df.loc[(df['diff'].abs())>0.2]
    if issues.empty:
        print('Quarterly sums check passed')
    else:
        return issues
    df.drop(['check', 'diff'], axis=1, inplace=True)

def repeats_check_zip(df):
    df['check'] = df['Year'].astype(str)+df['State']+df['Drug']+df['Zip']
    checks = pd.Series(data=df['check'].value_counts())
    errors = checks.loc[checks!=1]
    if errors.empty:
        print('Repeats checks passed')
    else:
        return errors
    df.drop(['check'], axis=1, inplace=True)
    
def check_states(df):
    states = ['ALASKA', 'ALABAMA', 'AMERICAN SAMOA', 'ARKANSAS', 'ARIZONA', 'CALIFORNIA',
       'COLORADO', 'CONNECTICUT', 'DISTRICT OF COLUMBIA', 'DELAWARE',
       'FLORIDA', 'GEORGIA','GUAM', 'HAWAII', 'IOWA', 'IDAHO', 'ILLINOIS',
       'INDIANA', 'KANSAS', 'KENTUCKY', 'LOUISIANA', 'MASSACHUSETTS',
       'MARYLAND', 'MAINE', 'MICHIGAN', 'MINNESOTA', 'MISSOURI',
       'MISSISSIPPI', 'MONTANA', 'NEBRASKA', 'NORTH CAROLINA',
       'NORTH DAKOTA', 'NEW HAMPSHIRE', 'NEW JERSEY', 'NEW MEXICO',
       'NEVADA', 'NEW YORK', 'OHIO', 'OKLAHOMA', 'OREGON', 'PENNSYLVANIA',
       'PUERTO RICO', 'RHODE ISLAND', 'SOUTH CAROLINA', 'SOUTH DAKOTA',
       'TENNESSEE', 'TEXAS', 'UTAH', 'VIRGINIA', 'VIRGIN ISLANDS',
       'VERMONT', 'WASHINGTON', 'WISCONSIN', 'WEST VIRGINIA', 'WYOMING']
    in_df = df['State'].unique()
    diff = set(states).symmetric_difference(set(in_df))
    if diff:
        print('State values not matching:', diff)
    else:
        print("All expected state values present")

In [26]:
quarterly_check(zip_2000)

Quarterly sums check passed

In [27]:
repeats_check_zip(zip_2000)

Repeats checks passed

In [28]:
# note that American Samoa isn't included in any of the pre-2006 data
check_states(zip_2000)

State values not matching: {'AMERICAN SAMOA'}

Now read in and check the rest of the pre-2006 data files.

In [99]:
zip_2001 = pd.read_csv('zip_2001.txt', delim_whitespace=True)
zip_2001 = clean_zip_old(zip_2001, 2001)

zip_2002 = pd.read_csv('zip_2002.txt', delim_whitespace=True)
zip_2002 = clean_zip_old(zip_2002, 2002)

zip_2003 = pd.read_csv('zip_2003.txt', delim_whitespace=True)
zip_2003 = clean_zip_old(zip_2003, 2003)

zip_2004 = pd.read_csv('zip_2004.txt', delim_whitespace=True)
zip_2004 = clean_zip_old(zip_2004, 2004)

zip_2005 = pd.read_csv('zip_2005.txt', delim_whitespace=True)
zip_2005 = clean_zip_old(zip_2005, 2005)

In [150]:
old_zips = {'2001': zip_2001, '2002': zip_2002, '2003': zip_2003, "2004": zip_2004, '2005': zip_2005}
for f in old_zips.keys():
    print('Checking {} file...'.format(f))
    quarterly_check(old_zips[f])
    repeats_check_zip(old_zips[f])
    check_states(old_zips[f])
    print()
    print()

Checking 2002 file...
Quarterly sums check passed
Repeats checks passed
All expected state values present


Checking 2005 file...
Quarterly sums check passed
Repeats checks passed
All expected state values present


Checking 2003 file...
Quarterly sums check passed
Repeats checks passed
All expected state values present


Checking 2001 file...
Quarterly sums check passed
Repeats checks passed
State values not matching: {'AMERICAN SAMOA'}


Checking 2004 file...
Quarterly sums check passed
Repeats checks passed
All expected state values present

### Newer report formats

Moving on to the post-2006 data files. These are published in separate reports, but are still often ~40 pages so I continued with dumping the PDF contents into a .txt file. 

I was able to reuse most of the cleaning and checking functions with a few small tweaks, going through the same step-by-step process on one file to build out the data cleansing steps and then refactoring it into the below.

In [107]:
def clean_zip_new(df, year):

    df.rename(columns={'ARCOS': "Zip", 
                       '3':'Q1', 
                       '-': 'Q2', 
                       'REPORT': 'Q3', 
                       '1':'Q4', 
                       'RETAIL':'TOTAL'}, 
              inplace=True)
    df.insert(column='Year', loc=0, value=year)
    df.insert(column='State', loc=1, value=None)
    df.insert(column='Drug', loc=2, value=None)
    df.loc[df['Zip']=='STATE:', 'State']=df['Q1']
    df.loc[(df['Zip']=="STATE:") & 
           (pd.notnull(df['Q2'])), 'State']=df["State"]+" "+df['Q2']
    df.loc[(df['Zip']=="STATE:") & 
           (pd.notnull(df['Q3'])), 'State']=df["State"]+" "+df['Q3']

    drops = ['REPORTING', 'RETAIL', 'Run', 'ZIP', 'ARCOS']
    for d in drops:
        df = df.drop(df[df['Zip']==d].index)

    for key in drug_codes.keys():
        df.loc[(df['Q1'].str.contains(key)) &
               (pd.notnull(df['Q1'])), 'Drug'] = drug_codes[key]
        df.loc[(df['Q2'].str.contains(key)) & 
               (pd.notnull(df['Q2'])), 'Drug'] = drug_codes[key]
    df['State'] = df['State'].fillna(method='ffill')
    df['Drug'] = df['Drug'].fillna(method='ffill')
    df=df.drop(df[df['Zip']=='DRUG'].index)
    df=df.drop(df[df['Zip']=='STATE:'].index)
    df = df[['Year', 'State', 'Drug', 'Zip', 
             'Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']]
    df = df.drop(df.loc[pd.isnull(df['TOTAL'])].index)
    cols = ['Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']
    for col in cols:
        df[col]=df[col].str.replace(",","").astype(float)
    return df

In [108]:
zip_2006 = pd.read_csv('zip_2006.txt', delim_whitespace=True)
zip_2006 = clean_zip_new(zip_2006, 2006)

zip_2007 = pd.read_csv('zip_2007.txt', delim_whitespace=True)
zip_2007 = clean_zip_new(zip_2007, 2007)

zip_2008 = pd.read_csv('zip_2008.txt', delim_whitespace=True)
zip_2008 = clean_zip_new(zip_2008, 2008)

zip_2009 = pd.read_csv('zip_2009.txt', delim_whitespace=True)
zip_2009 = clean_zip_new(zip_2009, 2009)

zip_2010 = pd.read_csv('zip_2010.txt', delim_whitespace=True)
zip_2010 = clean_zip_new(zip_2010, 2010)

zip_2011 = pd.read_csv('zip_2011.txt', delim_whitespace=True)
zip_2011 = clean_zip_new(zip_2011, 2011)

zip_2012 = pd.read_csv('zip_2012.txt', delim_whitespace=True)
zip_2012 = clean_zip_new(zip_2012, 2012)

zip_2013 = pd.read_csv('zip_2013.txt', delim_whitespace=True)
zip_2013 = clean_zip_new(zip_2013, 2013)

zip_2014 = pd.read_csv('zip_2014.txt', delim_whitespace=True)
zip_2014 = clean_zip_new(zip_2014, 2014)

zip_2015 = pd.read_csv('zip_2015.txt', delim_whitespace=True)
zip_2015 = clean_zip_new(zip_2015, 2015)

zip_2016 = pd.read_csv('zip_2016.txt', delim_whitespace=True)
zip_2016 = clean_zip_new(zip_2016, 2016)

In [151]:
new_zips = {'2006': zip_2006, '2007': zip_2007, 
            '2008': zip_2008, '2009': zip_2009, 
            '2010': zip_2010, '2011': zip_2011,
            '2012': zip_2012, '2013': zip_2013, 
            '2014': zip_2014, '2015': zip_2015, 
            '2016': zip_2016}

for f in new_zips.keys():
    print('Checking {} file...'.format(f))
    quarterly_check(new_zips[f])
    repeats_check_zip(new_zips[f])
    check_states(new_zips[f])
    print()
    print()

Checking 2006 file...
Quarterly sums check passed
Repeats checks passed
All expected state values present


Checking 2010 file...
Quarterly sums check passed
Repeats checks passed
All expected state values present


Checking 2009 file...
Quarterly sums check passed
Repeats checks passed
All expected state values present


Checking 2012 file...
Quarterly sums check passed
Repeats checks passed
All expected state values present


Checking 2013 file...
Quarterly sums check passed
Repeats checks passed
All expected state values present


Checking 2014 file...
Quarterly sums check passed
Repeats checks passed
All expected state values present


Checking 2015 file...
Quarterly sums check passed
Repeats checks passed
All expected state values present


Checking 2011 file...
Quarterly sums check passed
Repeats checks passed
All expected state values present


Checking 2008 file...
Quarterly sums check passed
Repeats checks passed
All expected state values present


Checking 2016 file...
Quarterly sums check passed
Repeats checks passed
All expected state values present


Checking 2007 file...
Quarterly sums check passed
Repeats checks passed
All expected state values present

### Wrap up the zip files

Finally, I'll package them all into one big dataframe and save it off to .csv.

In [153]:
zip_all = pd.concat(list(old_zips.values())+list(new_zips.values()), 
                    ignore_index=True)
zip_all.to_csv('retail_distribution_by_zipcode.csv', index=False)

I'm going to use very much the same approach for cleaning up the files containing Report 3, the quarterly distribution by 100K population. These files were quite a bit messier, so the preprocessing is more complex and there were some differences in format in some of the files that I discovered via the testing techniques.

In [161]:
def clean_pop_old(df, year):
    df=df.drop(df.loc[pd.isnull(df['REPORT'])].index)
    drops = ['DATE:', 'REPORTING', 'QUARTERLY', 'STATE', 'ARCOS']
    for d in drops:
        df=df.drop(df[df['ARCOS']==d].index)

    df.rename(columns={'ARCOS': "State", '2':'Q1', '-': 'Q2', 'REPORT': 'Q3', '3':'Q4', 'QUARTERLY':'TOTAL'}, inplace=True)


    df.insert(column='Year', loc=0, value=year)
    df.insert(column='Drug', loc=2, value=None)
    for key in drug_codes.keys():
        df.loc[(df['State']=='DRUG')&(df['Q2']==key), 'Drug'] = drug_codes[key]
    df['Drug'] = df['Drug'].fillna(method='ffill')
    df=df.drop(df[df['State']=='DRUG'].index)

    df.loc[pd.notnull(df['DISTRIBUTION']), 'State']=df["State"]+" "+df['Q1']
    df.loc[pd.notnull(df['IN']), 'State']=df["State"] +" "+df['Q2']

    
    start1 = ['Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']
    shift1 = ['Q2', 'Q3', 'Q4', 'TOTAL', 'DISTRIBUTION']
    for i in range(0,5):
        df.loc[pd.notnull(df['DISTRIBUTION']), start1[i]] = df[shift1[i]]
        
    start2 = ['Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']
    shift2 = ['Q2', 'Q3', 'Q4', 'TOTAL', 'IN']
    for i in range(0,5):
        df.loc[pd.notnull(df['IN']), start2[i]] = df[shift2[i]]        


    df=df.drop(df[df['State']=='DRUG'].index)
    df=df.drop(df[df['State']=='DRUG CODE:'].index)
    df.loc[df['State']=='TRUST TERRITORIES (GUAM)', 'State'] = 'GUAM'
    df = df[['Year', 'State', 'Drug', 'Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']]
    cols = ['Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']
    for col in cols:
        df[col]=df[col].str.replace(",","").astype(float)
    return df

# A change in the text/titling of the reports means a slightly different 
# function is needed for some of the older files

def clean_pop_oldv2(df, year):
    df=df.drop(df.loc[pd.isnull(df['REPORT'])].index)
    drops = ['DATE:', 'REPORTING', 'QUARTERLY', 'STATE', 'ARCOS']
    for d in drops:
        df=df.drop(df[df['ARCOS']==d].index)

    df.rename(columns={'ARCOS': "State", '2':'Q1', '-': 'Q2', 'REPORT': 'Q3', '3':'Q4', 'QUARTERLY':'TOTAL'}, inplace=True)

    df.insert(column='Year', loc=0, value=year)
    df.insert(column='Drug', loc=2, value=None)
    for key in drug_codes.keys():
        df.loc[(df['State']=='DRUG')&(df['Q2']==key), 'Drug'] = drug_codes[key]
    df['Drug'] = df['Drug'].fillna(method='ffill')
    df=df.drop(df[df['State']=='DRUG'].index)

    df.loc[pd.notnull(df['DRUG']), 'State']=df["State"]+" "+df['Q1']
    df.loc[pd.notnull(df['DISTRIBUTION']), 'State']=df["State"] +" "+df['Q2']
    
    start1 = ['Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']
    shift1 = ['Q2', 'Q3', 'Q4', 'TOTAL', 'DRUG']
    for i in range(0,5):
        df.loc[pd.notnull(df['DRUG']), start1[i]] = df[shift1[i]]
        
    start2 = ['Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']
    shift2 = ['Q2', 'Q3', 'Q4', 'TOTAL', 'DISTRIBUTION']
    for i in range(0,5):
        df.loc[pd.notnull(df['DISTRIBUTION']), start2[i]] = df[shift2[i]]        

    df=df.drop(df[df['State']=='DRUG'].index)
    df=df.drop(df[df['State']=='DRUG CODE:'].index)
    df.loc[df['State']=='TRUST TERRITORIES (GUAM)', 'State'] = 'GUAM'
    df = df[['Year', 'State', 'Drug', 'Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']]
    cols = ['Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']
    for col in cols:
        df[col]=df[col].str.replace(",","").astype(float)
    return df

def clean_pop_new(df, year):
    df=df.drop(df.loc[pd.isnull(df['REPORT'])].index)
    drops = ['DATE:', 'REPORTING', 'QUARTERLY', 'STATE', 'ARCOS']
    for d in drops:
        df=df.drop(df[df['ARCOS']==d].index)

    df.rename(columns={'ARCOS': "State", '3':'Q1', '-': 'Q2', 'REPORT': 'Q3', '3.1':'Q4', 'QUARTERLY':'TOTAL'}, inplace=True)

    df.insert(column='Year', loc=0, value=year)
    df.insert(column='Drug', loc=2, value=None)
    for key in drug_codes.keys():
        df.loc[(df['State']=='DRUG')&(df['Q1'].str[5:]==key), 'Drug'] = drug_codes[key]
    df['Drug'] = df['Drug'].fillna(method='ffill')
    df=df.drop(df[df['State']=='DRUG'].index)

    df.loc[pd.notnull(df['DRUG']), 'State']=df["State"]+" "+df['Q1']
    df.loc[pd.notnull(df['DISTRIBUTION']), 'State']=df["State"] +" "+df['Q2']

    start1 = ['Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']
    shift1 = ['Q2', 'Q3', 'Q4', 'TOTAL', 'DRUG']
    for i in range(0,5):
        df.loc[pd.notnull(df['DRUG']), start1[i]] = df[shift1[i]]
        
    start2 = ['Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']
    shift2 = ['Q2', 'Q3', 'Q4', 'TOTAL', 'DISTRIBUTION']
    for i in range(0,5):
        df.loc[pd.notnull(df['DISTRIBUTION']), start2[i]] = df[shift2[i]]        

    df=df.drop(df[df['State']=='DRUG'].index)
    df=df.drop(df[df['State']=='DRUG CODE:'].index)
    df.loc[df['State']=='TRUST TERRITORIES (GUAM)', 'State'] = 'GUAM'
    df = df[['Year', 'State', 'Drug', 'Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']]
    cols = ['Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']
    for col in cols:
        df[col]=df[col].str.replace(",","").astype(float)
    return df

In [163]:
pop_2000 = pd.read_csv('population_2000.txt', delim_whitespace=True)
pop_2000 = clean_pop_old(pop_2000, 2000)

pop_2001 = pd.read_csv('pop_2001.txt', delim_whitespace=True)
pop_2001 = clean_pop_old(pop_2001, 2001)

pop_2002 = pd.read_csv('pop_2002.txt', delim_whitespace=True)
pop_2002 = clean_pop_old(pop_2002, 2002)

pop_2003 = pd.read_csv('pop_2003.txt', delim_whitespace=True)
pop_2003 = clean_pop_old(pop_2003, 2003)

pop_2004 = pd.read_csv('pop_2004.txt', delim_whitespace=True)
pop_2004 = clean_pop_oldv2(pop_2004, 2004)

pop_2005 = pd.read_csv('pop_2005.txt', delim_whitespace=True)
pop_2005 = clean_pop_oldv2(pop_2005, 2005)

pop_2006 = pd.read_csv('pop_2006.txt', delim_whitespace=True)
pop_2006 = clean_pop_new(pop_2006, 2006)

pop_2007 = pd.read_csv('pop_2007.txt', delim_whitespace=True)
pop_2007 = clean_pop_new(pop_2007, 2007)

pop_2008 = pd.read_csv('pop_2008.txt', delim_whitespace=True)
pop_2008 = clean_pop_new(pop_2008, 2008)

pop_2009 = pd.read_csv('pop_2009.txt', delim_whitespace=True)
pop_2009 = clean_pop_new(pop_2009, 2009)

pop_2010 = pd.read_csv('pop_2010.txt', delim_whitespace=True)
pop_2010 = clean_pop_new(pop_2010, 2010)

# two notes about 2011 - the DEA chose to report in milligrams (vs. grams for some reason)
# this caused a value so large it wrapped to the next line
# these things were most easily fixed as a one-off
pop_2011 = pd.read_csv('pop_2011.txt', delim_whitespace=True)
pop_2011.loc[1520, 'DRUG'] = '1,459,041.39'
pop_2011 = clean_pop_new(pop_2011, 2011)
pop_2011[['Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']] = pop_2011[['Q1', 'Q2', 'Q3', 'Q4', 'TOTAL']].divide(1000, axis=0)

pop_2012 = pd.read_csv('pop_2012.txt', delim_whitespace=True)
pop_2012 = clean_pop_new(pop_2012, 2012)

pop_2013 = pd.read_csv('pop_2013.txt', delim_whitespace=True)
pop_2013 = clean_pop_new(pop_2013, 2013)

pop_2014 = pd.read_csv('pop_2014.txt', delim_whitespace=True)
pop_2014 = clean_pop_new(pop_2014, 2014)

pop_2015 = pd.read_csv('pop_2015.txt', delim_whitespace=True)
pop_2015 = clean_pop_new(pop_2015, 2015)

pop_2016 = pd.read_csv('pop_2016.txt', delim_whitespace=True)
pop_2016 = clean_pop_new(pop_2016, 2016)

In [164]:
pop_2016.head()

,Year,State,Drug,Q1,Q2,Q3,Q4,TOTAL
3,2016,ALABAMA,AMPHETAMINE,2589.60,2644.62,2698.26,2683.06,10615.55
4,2016,ALASKA,AMPHETAMINE,1055.85,1144.18,1122.48,1088.39,4410.89
5,2016,AMERICAN SAMOA,AMPHETAMINE,3.86,0.00,2.29,3.81,9.97
6,2016,ARIZONA,AMPHETAMINE,1144.62,1186.25,1190.77,1232.63,4754.27
7,2016,ARKANSAS,AMPHETAMINE,1625.81,1645.98,1637.32,1699.04,6608.15

In [204]:
# Can reuse two of the checking functions
# But need a new one to do checksums

def repeats_check_pop(df):
    df['check'] = df['Year'].astype(str)+df['State']+df['Drug']
    checks = pd.Series(data=df['check'].value_counts())
    errors = checks.loc[checks!=1]
    if errors.empty:
        print('Repeats checks passed')
    else:
        print(errors)
    df.drop(['check'], axis=1, inplace=True)

In [170]:
population_dfs = {'2000': pop_2000, '2001': pop_2001, '2002': pop_2002, '2003': pop_2003, '2004': pop_2004,
                 '2005': pop_2005, '2006': pop_2006, '2007': pop_2007, '2008': pop_2008, '2009': pop_2009,
                 '2010': pop_2010, '2011': pop_2011, '2012': pop_2012, '2013': pop_2013, '2014': pop_2014,
                 '2015': pop_2015, '2016': pop_2016}
for f in population_dfs.keys():
    print('Checking {} file...'.format(f))
    quarterly_check(population_dfs[f])
    repeats_check_pop(population_dfs[f])
    check_states(population_dfs[f])
    print()
    print()

Checking 2002 file...
Quarterly sums check passed
Repeats checks passed
State values not matching: {'UNITED STATES'}


Checking 2010 file...
Quarterly sums check passed
2010U.S. TOTALCOCAINE    2
2010FLORIDACOCAINE       2
2010OREGONCOCAINE        2
2010CALIFORNIACOCAINE    2
Name: check, dtype: int64
State values not matching: {'U.S. TOTAL'}


Checking 2009 file...
Quarterly sums check passed
2009CALIFORNIACOCAINE        2
2009CONNECTICUTCOCAINE       2
2009FLORIDACOCAINE           2
2009U.S. TOTALCOCAINE        2
2009NORTH CAROLINACOCAINE    2
Name: check, dtype: int64
State values not matching: {'U.S. TOTAL'}


Checking 2012 file...
Quarterly sums check passed
2012OREGONCOCAINE                  2
2012ILLINOISCOCAINE                2
2012VERMONTCOCAINE                 2
2012MARYLANDCOCAINE                2
2012ARKANSASCOCAINE                2
2012NEVADACOCAINE                  2
2012NEW HAMPSHIRECOCAINE           2
2012MASSACHUSETTSCOCAINE           2
2012ARIZONACOCAINE                 2
2012U.S. TOTALCOCAINE              2
2012COLORADOCOCAINE                2
2012DISTRICT OF COLUMBIACOCAINE    2
2012UTAHCOCAINE                    2
2012MINNESOTACOCAINE               2
2012GEORGIACOCAINE                 2
2012NORTH CAROLINACOCAINE          2
2012NEW YORKCOCAINE                2
2012IOWACOCAINE                    2
2012MAINECOCAINE                   2
2012MICHIGANCOCAINE                2
2012ALABAMACOCAINE                 2
2012RHODE ISLANDCOCAINE            2
2012WEST VIRGINIACOCAINE           2
2012PENNSYLVANIACOCAINE            2
2012WISCONSINCOCAINE               2
2012DELAWARECOCAINE                2
2012MISSISSIPPICOCAINE             2
2012NEW JERSEYCOCAINE              2
2012TEXASCOCAINE                   2
2012WASHINGTONCOCAINE              2
2012OKLAHOMACOCAINE                2
2012KANSASCOCAINE                  2
2012VIRGINIACOCAINE                2
2012CALIFORNIACOCAINE              2
2012SOUTH CAROLINACOCAINE          2
2012CONNECTICUTCOCAINE             2
2012IDAHOCOCAINE                   2
2012TENNESSEECOCAINE               2
2012OHIOCOCAINE                    2
2012MISSOURICOCAINE                2
2012LOUISIANACOCAINE               2
2012INDIANACOCAINE                 2
2012FLORIDACOCAINE                 2
Name: check, dtype: int64
State values not matching: {'U.S. TOTAL'}


Checking 2001 file...
Quarterly sums check passed
Repeats checks passed
State values not matching: {'UNITED STATES', 'AMERICAN SAMOA'}


Checking 2013 file...
Quarterly sums check passed
2013VERMONTCOCAINE                   2
2013SOUTH CAROLINACOCAINE            2
2013U.S. TOTALPHENCYCLIDINE (PCP)    2
2013RHODE ISLANDCOCAINE              2
2013OKLAHOMACOCAINE                  2
2013MAINECOCAINE                     2
2013LOUISIANACOCAINE                 2
2013TENNESSEECOCAINE                 2
2013CONNECTICUTCOCAINE               2
2013CALIFORNIACOCAINE                2
2013ARKANSASCOCAINE                  2
2013NORTH CAROLINACOCAINE            2
2013ARIZONACOCAINE                   2
2013IOWACOCAINE                      2
2013MISSOURICOCAINE                  2
2013KENTUCKYCOCAINE                  2
2013NEW HAMPSHIRECOCAINE             2
2013ILLINOISCOCAINE                  2
2013DISTRICT OF COLUMBIACOCAINE      2
2013PENNSYLVANIACOCAINE              2
2013UTAHCOCAINE                      2
2013ALABAMACOCAINE                   2
2013OHIOCOCAINE                      2
2013NORTH DAKOTACOCAINE              2
2013SOUTH DAKOTACOCAINE              2
2013IDAHOCOCAINE                     2
2013TEXASCOCAINE                     2
2013NEW YORKCOCAINE                  2
2013KANSASCOCAINE                    2
2013COLORADOCOCAINE                  2
2013NEW JERSEYCOCAINE                2
2013MARYLANDCOCAINE                  2
2013WASHINGTONCOCAINE                2
2013MASSACHUSETTSCOCAINE             2
2013DELAWARECOCAINE                  2
2013NEVADACOCAINE                    2
2013INDIANACOCAINE                   2
2013FLORIDACOCAINE                   2
2013NEBRASKACOCAINE                  2
2013WISCONSINCOCAINE                 2
2013OREGONCOCAINE                    2
2013VIRGINIACOCAINE                  2
2013WEST VIRGINIACOCAINE             2
2013MINNESOTACOCAINE                 2
2013MICHIGANCOCAINE                  2
2013U.S. TOTALCOCAINE                2
2013MISSISSIPPICOCAINE               2
2013GEORGIACOCAINE                   2
Name: check, dtype: int64
State values not matching: {'U.S. TOTAL'}


Checking 2004 file...
Quarterly sums check passed
Repeats checks passed
State values not matching: {'UNITED STATES TOTAL'}


Checking 2015 file...
Quarterly sums check passed
2015NORTH CAROLINACOCAINE          2
2015NEW YORKCOCAINE                2
2015OREGONCOCAINE                  2
2015TENNESSEECOCAINE               2
2015NEW HAMPSHIRECOCAINE           2
2015OKLAHOMACOCAINE                2
2015IDAHOCOCAINE                   2
2015SOUTH DAKOTACOCAINE            2
2015NEBRASKACOCAINE                2
2015U.S. TOTALLYSERGIDE(D-LSD)     2
2015GEORGIACOCAINE                 2
2015WEST VIRGINIACOCAINE           2
2015PENNSYLVANIACOCAINE            2
2015KENTUCKYCOCAINE                2
2015MINNESOTACOCAINE               2
2015ILLINOISCOCAINE                2
2015LOUISIANACOCAINE               2
2015IOWACOCAINE                    2
2015VERMONTCOCAINE                 2
2015RHODE ISLANDCOCAINE            2
2015INDIANACOCAINE                 2
2015OHIOCOCAINE                    2
2015MICHIGANCOCAINE                2
2015VIRGINIACOCAINE                2
2015MISSISSIPPICOCAINE             2
2015CONNECTICUTCOCAINE             2
2015ALABAMACOCAINE                 2
2015SOUTH CAROLINACOCAINE          2
2015MAINECOCAINE                   2
2015KANSASCOCAINE                  2
2015DISTRICT OF COLUMBIACOCAINE    2
2015WISCONSINCOCAINE               2
2015WASHINGTONCOCAINE              2
2015MISSOURICOCAINE                2
2015NEW JERSEYCOCAINE              2
2015ARIZONACOCAINE                 2
2015TEXASCOCAINE                   2
2015U.S. TOTALCOCAINE              2
2015COLORADOCOCAINE                2
2015FLORIDACOCAINE                 2
2015NORTH DAKOTACOCAINE            2
2015DELAWARECOCAINE                2
2015MASSACHUSETTSCOCAINE           2
2015MARYLANDCOCAINE                2
2015ARKANSASCOCAINE                2
2015CALIFORNIACOCAINE              2
2015UTAHCOCAINE                    2
2015NEVADACOCAINE                  2
Name: check, dtype: int64
State values not matching: {'U.S. TOTAL'}


Checking 2016 file...
Quarterly sums check passed
Repeats checks passed
State values not matching: {'U.S. TOTAL'}


Checking 2007 file...
Quarterly sums check passed
Repeats checks passed
State values not matching: {'U.S. TOTAL'}


Checking 2006 file...
Quarterly sums check passed
Repeats checks passed
State values not matching: {'U.S. TOTAL'}


Checking 2014 file...
Quarterly sums check passed
2014SOUTH DAKOTACOCAINE            2
2014CALIFORNIACOCAINE              2
2014VERMONTCOCAINE                 2
2014MISSISSIPPICOCAINE             2
2014PENNSYLVANIACOCAINE            2
2014NEVADACOCAINE                  2
2014WISCONSINCOCAINE               2
2014IDAHOCOCAINE                   2
2014MICHIGANCOCAINE                2
2014UTAHCOCAINE                    2
2014WEST VIRGINIACOCAINE           2
2014NEW YORKCOCAINE                2
2014SOUTH CAROLINACOCAINE          2
2014OKLAHOMACOCAINE                2
2014MINNESOTACOCAINE               2
2014ARKANSASCOCAINE                2
2014CONNECTICUTCOCAINE             2
2014KENTUCKYCOCAINE                2
2014ILLINOISCOCAINE                2
2014KANSASCOCAINE                  2
2014COLORADOCOCAINE                2
2014DISTRICT OF COLUMBIACOCAINE    2
2014MAINECOCAINE                   2
2014NEBRASKACOCAINE                2
2014MARYLANDCOCAINE                2
2014NORTH DAKOTACOCAINE            2
2014TENNESSEECOCAINE               2
2014MASSACHUSETTSCOCAINE           2
2014WASHINGTONCOCAINE              2
2014OHIOCOCAINE                    2
2014U.S. TOTALCOCAINE              2
2014ARIZONACOCAINE                 2
2014NEW JERSEYCOCAINE              2
2014IOWACOCAINE                    2
2014NORTH CAROLINACOCAINE          2
2014NEW HAMPSHIRECOCAINE           2
2014TEXASCOCAINE                   2
2014RHODE ISLANDCOCAINE            2
2014INDIANACOCAINE                 2
2014DELAWARECOCAINE                2
2014MISSOURICOCAINE                2
2014GEORGIACOCAINE                 2
2014LOUISIANACOCAINE               2
2014VIRGINIACOCAINE                2
2014ALABAMACOCAINE                 2
2014FLORIDACOCAINE                 2
2014OREGONCOCAINE                  2
Name: check, dtype: int64
State values not matching: {'U.S. TOTAL'}


Checking 2005 file...
Quarterly sums check passed
Repeats checks passed
State values not matching: {'UNITED STATES TOTAL'}


Checking 2011 file...
Quarterly sums check passed
2011MISSISSIPPICOCAINE             2
2011CALIFORNIACOCAINE              2
2011MARYLANDCOCAINE                2
2011NEVADACOCAINE                  2
2011NEW JERSEYCOCAINE              2
2011DISTRICT OF COLUMBIACOCAINE    2
2011WEST VIRGINIACOCAINE           2
2011MICHIGANCOCAINE                2
2011OREGONCOCAINE                  2
2011OHIOCOCAINE                    2
2011WISCONSINCOCAINE               2
2011CONNECTICUTCOCAINE             2
2011MISSOURICOCAINE                2
2011UTAHCOCAINE                    2
2011WASHINGTONCOCAINE              2
2011TEXASCOCAINE                   2
2011RHODE ISLANDCOCAINE            2
2011GEORGIACOCAINE                 2
2011ARIZONACOCAINE                 2
2011LOUISIANACOCAINE               2
2011ALABAMACOCAINE                 2
2011NEW HAMPSHIRECOCAINE           2
2011NEW YORKCOCAINE                2
2011U.S. TOTALCOCAINE              2
2011ARKANSASCOCAINE                2
2011TENNESSEECOCAINE               2
2011PENNSYLVANIACOCAINE            2
2011NORTH CAROLINACOCAINE          2
2011MASSACHUSETTSCOCAINE           2
2011MINNESOTACOCAINE               2
2011VIRGINIACOCAINE                2
2011FLORIDACOCAINE                 2
2011SOUTH CAROLINACOCAINE          2
2011ILLINOISCOCAINE                2
2011KANSASCOCAINE                  2
2011COLORADOCOCAINE                2
Name: check, dtype: int64
State values not matching: {'U.S. TOTAL'}


Checking 2000 file...
Quarterly sums check passed
Repeats checks passed
State values not matching: {'UNITED STATES', 'AMERICAN SAMOA'}


Checking 2008 file...
Quarterly sums check passed
Repeats checks passed
State values not matching: {'U.S. TOTAL'}


Checking 2003 file...
Quarterly sums check passed
Repeats checks passed
State values not matching: {'UNITED STATES'}

This time the checking functions turn up a couple of interesting things - you probably would have noticed it in building the cleaning function, but it shows the importance of checks. 

First, these files are including US total values, which the other files do not. 

Second, it appears that there are two codes for cocaine - 9041 and 9041L. It's not clear from any DEA documentation that I was able to find what the difference between the two is - the reports themselves also refer to both of these codes as simply "Cocaine" as far as the drug name. In any case, for all of these files, although both codes are reported on, one of them is reported as all zeros.

In [171]:
pop_2010[pop_2010['Drug']=='COCAINE']

     Year                 State     Drug     Q1     Q2    Q3    Q4  TOTAL
684  2010            CALIFORNIA  COCAINE   0.00   0.00  0.00  0.00   0.00
685  2010               FLORIDA  COCAINE   0.00   0.00  0.00  0.00   0.00
686  2010                OREGON  COCAINE   0.00   0.00  0.00  0.00   0.00
687  2010            U.S. TOTAL  COCAINE   0.00   0.00  0.00  0.00   0.00
690  2010               ALABAMA  COCAINE   3.00   2.42  1.89  1.93   9.24
691  2010                ALASKA  COCAINE   7.52   4.74  3.04  4.56  19.86
692  2010               ARIZONA  COCAINE   4.82   3.36  2.70  2.77  13.65
693  2010              ARKANSAS  COCAINE   2.92   4.43  3.08  2.07  12.50
694  2010            CALIFORNIA  COCAINE   4.16   4.00  3.91  3.51  15.57
695  2010              COLORADO  COCAINE   4.29   2.77  2.48  3.01  12.55
696  2010           CONNECTICUT  COCAINE   2.58   3.64  3.24  3.75  13.21
697  2010              DELAWARE  COCAINE   1.75   2.47  1.94  1.70   7.87
698  2010  DISTRICT OF COLUMBIA  COCAINE   8.24   6.43  4.49  5.41  24.57
699  2010               FLORIDA  COCAINE   3.37   2.63  2.57  2.58  11.14
700  2010               GEORGIA  COCAINE   3.99   3.19  2.51  2.56  12.25
701  2010                  GUAM  COCAINE   0.00   2.00  2.00  1.20   5.20
702  2010                HAWAII  COCAINE   4.38   2.90  3.16  3.10  13.54
703  2010                 IDAHO  COCAINE  13.03   6.59  8.43  8.35  36.40
704  2010              ILLINOIS  COCAINE   6.84   6.02  3.72  4.21  20.79
705  2010               INDIANA  COCAINE   7.74   6.23  6.95  5.64  26.56
706  2010                  IOWA  COCAINE   6.38   5.65  3.60  4.53  20.16
707  2010                KANSAS  COCAINE   6.00   3.99  4.00  3.49  17.48
708  2010              KENTUCKY  COCAINE   5.74   5.15  3.03  3.33  17.26
709  2010             LOUISIANA  COCAINE   3.10   2.71  2.61  1.83  10.24
710  2010                 MAINE  COCAINE   4.54   5.76  3.28  2.63  16.21
711  2010              MARYLAND  COCAINE   6.08   5.53  4.36  3.92  19.89
712  2010         MASSACHUSETTS  COCAINE   5.71   6.64  4.28  5.31  21.93
713  2010              MICHIGAN  COCAINE   7.90   6.23  5.99  4.80  24.92
714  2010             MINNESOTA  COCAINE  10.02   7.58  6.82  7.10  31.52
715  2010           MISSISSIPPI  COCAINE   4.71   4.86  5.04  3.39  17.99
716  2010              MISSOURI  COCAINE   5.68   4.76  4.63  4.02  19.09
717  2010               MONTANA  COCAINE   9.04   7.33  6.29  7.03  29.70
718  2010              NEBRASKA  COCAINE   6.13   3.72  4.14  2.91  16.89
719  2010                NEVADA  COCAINE   5.30   3.54  3.63  2.54  15.01
720  2010         NEW HAMPSHIRE  COCAINE  10.18   6.64  7.83  6.90  31.55
721  2010            NEW JERSEY  COCAINE   4.33   2.90  2.88  2.60  12.71
722  2010            NEW MEXICO  COCAINE   5.03   8.07  5.91  4.40  23.41
723  2010              NEW YORK  COCAINE   3.75   3.20  2.78  3.02  12.76
724  2010        NORTH CAROLINA  COCAINE   3.69   3.21  2.72  2.05  11.69
725  2010          NORTH DAKOTA  COCAINE  10.24   5.30  8.41  4.92  28.87
726  2010                  OHIO  COCAINE   4.58   3.96  2.88  2.67  14.08
732  2010              OKLAHOMA  COCAINE   2.44   2.46  1.88  2.07   8.85
733  2010                OREGON  COCAINE   5.61   4.62  4.47  4.84  19.53
734  2010          PENNSYLVANIA  COCAINE   5.74   4.78  4.70  3.86  19.07
735  2010           PUERTO RICO  COCAINE   0.00   0.12  0.02  0.00   0.14
736  2010          RHODE ISLAND  COCAINE   5.80   8.23  4.20  4.54  22.78
739  2010        SOUTH CAROLINA  COCAINE   1.94   1.43  1.04  1.12   5.54
740  2010          SOUTH DAKOTA  COCAINE  15.32  10.48  8.09  9.79  43.68
741  2010             TENNESSEE  COCAINE   6.48   4.96  4.40  4.79  20.62
742  2010                 TEXAS  COCAINE   2.49   2.28  1.95  1.85   8.56
743  2010                  UTAH  COCAINE   6.92   6.19  4.58  3.93  21.61
744  2010               VERMONT  COCAINE  10.21   3.26  3.88  5.91  23.27
745  2010        VIRGIN ISLANDS  COCAINE   0.00   0.00  0.33  0.00   0.33
746  2010              VIRGINIA  COCAINE   3.77   3.69  2.85  2.65  12.95
747  2010            WASHINGTON  COCAINE   4.80   4.08  3.53  3.71  16.12
748  2010         WEST VIRGINIA  COCAINE   7.52   8.50  5.56  5.16  26.74
749  2010             WISCONSIN  COCAINE   5.16   4.07  4.21  4.42  17.87
750  2010               WYOMING  COCAINE   7.13   4.83  4.47  2.83  19.26
751  2010            U.S. TOTAL  COCAINE   4.75   4.06  3.53  3.35  15.69

I'm choosing to deal with these issues after merging all the dataframes - I'll drop the extra rows reporting all zeros for cocaine, and I'm also going to remove the total values for sake of consistency with my other datafile, although you might choose to keep it. It could also provide an opportunity for an additional checksum function.

In [172]:
pop_all = pd.concat(list(population_dfs.values()), ignore_index=True)

# Drop out the totals rows
drops = ['U.S. TOTAL', 'UNITED STATES', 'UNITED STATES TOTAL']
for d in drops:
    pop_all=pop_all.drop(pop_all[pop_all['State']==d].index)

# Drop out the reporting on the extra cocaine code
pop_all = pop_all.drop(pop_all[pop_all['TOTAL']==0].index)

pop_all.to_csv('distribution_by_100K_pop.csv', index=False)

In [176]:
quarterly_check(pop_all)
repeats_check_pop(pop_all)
check_states(pop_all)

Quarterly sums check passed
Repeats checks passed
All expected state values present

Moving on to the last report - the distribution by retail activity. Same approach as before; a few functions will easily prep the pre-2006 and more recent files. These were the nastiest by far in terms of formatting and I ended up with many versions of the cleaning function. My approach to this was to run the function line by line when it failed to process a file correctly, find the issue and fix it and allow that to be a separate new function. You could take the extra step of refactoring them all into one version.

As with the drug codes, it's easiest to pull out the type of retail activity by the code the DEA uses to report it.

In [209]:
activity_codes = {'A': 'PHARMACIES', 'B': 'HOSPITALS', 'C': 'PRACTITIONERS', 'D': 'TEACHING INSTITUTIONS',
                  'M': 'MID-LEVEL PRACTITIONERS', 'N-U': 'NARCOTIC TREATMENT PROGRAMS'}

def clean_activity_old(df, year):
    df.rename(columns={'ARCOS': "A", '2':'B', '-': 'C', 'REPORT': 'D', '5':'E', 'RETAIL':'TOTAL', 'STATISTICAL': 'F'}, inplace=True)
    df.insert(column='Year', loc=0, value=year)
    df.insert(column='State', loc=1, value=None)
    df.insert(column='Business Activity', loc=2, value=None)
    df.insert(column='Drug', loc=3, value=None)

    df.loc[df['A']=='STATE:', 'State']=df['B']
    df.loc[(df['A']=="STATE:") & (df["C"]!='BUSINESS'), 'State']=df["B"]+" "+df['C']
    df.loc[(df['A']=="STATE:") & (df["C"]!='BUSINESS') & (df["C"]!='ACTIVITY') & (df["D"]!='BUSINESS'), 'State']=df["B"]+" "+df['C']+" "+df['D']

    df.loc[df['D']=='ACTIVITY:', 'Business Activity']=df['E']
    df.loc[(df['D']=='ACTIVITY:') & (pd.notnull(df['F'])), 'Business Activity']=df['E']+" "+df['F']
    df.loc[df['E']=='ACTIVITY:', 'Business Activity']=df['F']
    df.loc[(df['E']=='ACTIVITY:') & (pd.notnull(df['SUMMARY'])), 'Business Activity']=df['F']+" "+df['SUMMARY']

    df['State'] = df['State'].fillna(method='ffill')
    df['Business Activity'] = df['Business Activity'].fillna(method='ffill')

    drops = ['REPORTING', 'STATE:', 'NUMBER', 'DRUG', 'DATE:', 'PAGE:', 'ARCOS', 'STATISTICAL', 'REPORTING', 'BUSINESS']
    for d in drops:
        df = df.drop(df[df['A']==d].index)

    for key in drug_codes.keys():
        df.loc[(df['B']==key)&(pd.notnull(df['C'])), 'Drug'] = drug_codes[key]
        df.loc[(df['C']==key)&(pd.notnull(df['D'])), 'Drug'] = drug_codes[key]
        df.loc[(df['D']==key)&(pd.notnull(df['E'])), 'Drug'] = drug_codes[key]

    df = df.drop(df.loc[pd.isnull(df['B'])].index)
    for col in df.columns:
        if len(df.loc[pd.notnull(df[col])])==0:
            df=df.drop(col, axis=1)
    df.rename(columns={'C': 'Registrants', 'D': 'Total grams sold', 'E': 'Avg grams/registrant'}, inplace=True)

    df.loc[pd.notnull(df['F']), 'Registrants'] = df['Total grams sold']
    df.loc[pd.notnull(df['F']), 'Total grams sold'] = df['Avg grams/registrant']
    df.loc[pd.notnull(df['F']), 'Avg grams/registrant'] = df['F']
    df = df.drop(['A', 'B', 'F'], axis=1)
    df.loc[df['State']=='TRUST TERRITORIES (GUAM)', 'State'] = "GUAM"

    cols = ['Registrants', 'Total grams sold', 'Avg grams/registrant']
    for col in cols:
        df[col]=df[col].str.replace(",","").astype(float)
    return df

def clean_activity_old_2(df, year):

    df.rename(columns={'ARCOS': "A", '2':'B', '-': 'C', 'REPORT': 'D', '5':'E', 'RETAIL':'TOTAL', 'STATISTICAL': 'F'}, inplace=True)
    df.insert(column='Year', loc=0, value=year)
    df.insert(column='State', loc=1, value=None)
    df.insert(column='Business Activity', loc=2, value=None)
    df.insert(column='Drug', loc=3, value=None)

    df.loc[df['A']=='STATE:', 'State']=df['B']
    df.loc[(df['A']=="STATE:") & (df["C"]!='BUSINESS'), 'State']=df["B"]+" "+df['C']
    df.loc[(df['A']=="STATE:") & (df["C"]!='BUSINESS') & (df["C"]!='ACTIVITY') & (df["D"]!='BUSINESS'), 'State']=df["B"]+" "+df['C']+" "+df['D']

    df.loc[df['D']=='ACTIVITY:', 'Business Activity']=df['E']
    df.loc[(df['D']=='ACTIVITY:') & (pd.notnull(df['F'])), 'Business Activity']=df['E']+" "+df['F']
    df.loc[df['E']=='ACTIVITY:', 'Business Activity']=df['F']
    df.loc[(df['E']=='ACTIVITY:') & (pd.notnull(df['SUMMARY'])), 'Business Activity']=df['F']+" "+df['SUMMARY']

    df['State'] = df['State'].fillna(method='ffill')
    df['Business Activity'] = df['Business Activity'].fillna(method='ffill')

    drops = ['REPORTING', 'STATE:', 'NUMBER', 'DRUG', 'DATE:', 'PAGE:', 'ARCOS', 'STATISTICAL', 'REPORTING', 'BUSINESS']
    for d in drops:
        df = df.drop(df[df['A']==d].index)

    for key in drug_codes.keys():
        df.loc[(df['B']==key)&(pd.notnull(df['C'])), 'Drug'] = drug_codes[key]
        df.loc[(df['C']==key)&(pd.notnull(df['D'])), 'Drug'] = drug_codes[key]
        df.loc[(df['D']==key)&(pd.notnull(df['E'])), 'Drug'] = drug_codes[key]

    df = df.drop(df.loc[pd.isnull(df['B'])].index)
    for col in df.columns:
        if len(df.loc[pd.notnull(df[col])])==0:
            df=df.drop(col, axis=1)
    df.rename(columns={'C': 'Registrants', 'D': 'Total grams sold', 'E': 'Avg grams/registrant'}, inplace=True)

    df.loc[pd.notnull(df['SUMMARY']), 'Registrants'] = df['Avg grams/registrant']
    df.loc[pd.notnull(df['SUMMARY']), 'Total grams sold'] = df['F']
    df.loc[pd.notnull(df['SUMMARY']), 'Avg grams/registrant'] = df['SUMMARY']

    df.loc[(pd.notnull(df['F']))&(pd.isnull(df['SUMMARY'])), 'Registrants'] = df['Total grams sold']
    df.loc[(pd.notnull(df['F']))&(pd.isnull(df['SUMMARY'])), 'Total grams sold'] = df['Avg grams/registrant']
    df.loc[(pd.notnull(df['F']))&(pd.isnull(df['SUMMARY'])), 'Avg grams/registrant'] = df['F']
    df = df.drop(['A', 'B', 'F', 'SUMMARY'], axis=1)
    df.loc[df['State']=='TRUST TERRITORIES (GUAM)', 'State'] = "GUAM"

    cols = ['Registrants', 'Total grams sold', 'Avg grams/registrant']
    for col in cols:
        df[col]=df[col].str.replace(",","").astype(float)

    return df

def clean_activity(df, year):
    df.rename(columns={'ARCOS': "A", '3':'B', '-': 'C', 'REPORT': 'D', '5':'E', 
                           'RETAIL':'TOTAL', 'STATISTICAL': 'F'}, inplace=True)
    df.insert(column='Year', loc=0, value=year)
    df.insert(column='State', loc=1, value=None)
    df.insert(column='Business Activity', loc=2, value=None)
    df.insert(column='Drug', loc=3, value=None)

    df.loc[df['A'].str.contains('STATE:'), 'State'] = \
        df.loc[df['A'].str.contains('STATE:')]['A'].str.split(":", expand=True)[1]
    df.loc[(df['A'].str.contains('STATE:')) & (df['B']!='BUSINESS'), 'State']= \
        df.loc[df['A'].str.contains('STATE:')]['A'].str.split(":", expand=True)[1] +" "+ \
        df.loc[df['A'].str.contains('STATE:')]['B']
    df.loc[(df['A'].str.contains('STATE:')) & (df['B']!='BUSINESS') & (df['C']!='BUSINESS'), 'State']= \
        df.loc[df['A'].str.contains('STATE:')]['A'].str.split(":", expand=True)[1] +" "+ \
        df.loc[df['A'].str.contains('STATE:')]['B'] +" "+df.loc[df['A'].str.contains('STATE:')]['C']

    df.loc[df['B']=='BUSINESS', 'Business Activity']= \
        df.loc[df['B']=='BUSINESS']['C'].str.split(':', expand=True)[1]
    df.loc[df['C']=='BUSINESS', 'Business Activity']= \
        df.loc[df['C']=='BUSINESS']['D'].str.split(':', expand=True)[1]

    for key in activity_codes.keys():
        df.loc[df['Business Activity']==key, 'Business Activity']=activity_codes[key]

    df['State'] = df['State'].fillna(method='ffill')
    df['Business Activity'] = df['Business Activity'].fillna(method='ffill')

    drops = ['PERIOD:', 'Date:', 'BUSINESS', 'NAME', 'SUMMARY', 'OF', '3']
    for d in drops:
        df = df.drop(df[df['B']==d].index)
        df = df.drop(df[df['C']==d].index)

    for key in drug_codes.keys():
        df.loc[(df['A']==key)&(pd.notnull(df['D'])), 'Drug'] = drug_codes[key]
        df.loc[(df['B']==key)&(pd.notnull(df['E'])), 'Drug'] = drug_codes[key]
        df.loc[(df['C']==key)&(pd.notnull(df['F'])), 'Drug'] = drug_codes[key]
        df.loc[(df['D']==key)&(pd.notnull(df['SUMMARY'])), 'Drug'] = drug_codes[key]
        df.loc[(df['E']==key)&(pd.notnull(df['FOR'])), 'Drug'] = drug_codes[key]
        
    df = df.drop(df.loc[pd.isnull(df['B'])].index)
    for col in df.columns:
        if len(df.loc[pd.notnull(df[col])])==0:
            df=df.drop(col, axis=1)
    df.rename(columns={'C': 'Registrants', 'D': 'Total grams sold', 'E': 'Avg grams/registrant'}, inplace=True)

    df.loc[pd.notnull(df['SUMMARY']), 'Registrants'] = df['Avg grams/registrant']
    df.loc[pd.notnull(df['SUMMARY']), 'Total grams sold'] = df['F']
    df.loc[pd.notnull(df['SUMMARY']), 'Avg grams/registrant'] = df['SUMMARY']

    df.loc[(pd.notnull(df['F']))&(pd.isnull(df['SUMMARY'])), 'Registrants'] = df['Total grams sold']
    df.loc[(pd.notnull(df['F']))&(pd.isnull(df['SUMMARY'])), 'Total grams sold'] = df['Avg grams/registrant']
    df.loc[(pd.notnull(df['F']))&(pd.isnull(df['SUMMARY'])), 'Avg grams/registrant'] = df['F']


    df = df.drop(['A', 'B', 'F', 'SUMMARY'], axis=1)

    cols = ['Registrants', 'Total grams sold', 'Avg grams/registrant']
    for col in cols:
        df[col]=df[col].str.replace(",","").astype(float)

    return df

def clean_activity_2(df, year):
    df.rename(columns={'ARCOS': "A", '3':'B', '-': 'C', 'REPORT': 'D', '5':'E', 
                           'RETAIL':'TOTAL', 'STATISTICAL': 'F'}, inplace=True)
    df.insert(column='Year', loc=0, value=year)
    df.insert(column='State', loc=1, value=None)
    df.insert(column='Business Activity', loc=2, value=None)
    df.insert(column='Drug', loc=3, value=None)

    df.loc[df['A'].str.contains('STATE:'), 'State'] = \
        df.loc[df['A'].str.contains('STATE:')]['A'].str.split(":", expand=True)[1]
    df.loc[(df['A'].str.contains('STATE:')) & (df['B']!='BUSINESS'), 'State']= \
        df.loc[df['A'].str.contains('STATE:')]['A'].str.split(":", expand=True)[1] +" "+ \
        df.loc[df['A'].str.contains('STATE:')]['B']
    df.loc[(df['A'].str.contains('STATE:')) & (df['B']!='BUSINESS') & (df['C']!='BUSINESS'), 'State']= \
        df.loc[df['A'].str.contains('STATE:')]['A'].str.split(":", expand=True)[1] +" "+ \
        df.loc[df['A'].str.contains('STATE:')]['B'] +" "+df.loc[df['A'].str.contains('STATE:')]['C']

    df.loc[df['B']=='BUSINESS', 'Business Activity']= \
        df.loc[df['B']=='BUSINESS']['C'].str.split(':', expand=True)[1]
    df.loc[df['C']=='BUSINESS', 'Business Activity']= \
        df.loc[df['C']=='BUSINESS']['D'].str.split(':', expand=True)[1]

    for key in activity_codes.keys():
        df.loc[df['Business Activity']==key, 'Business Activity']=activity_codes[key]

    df['State'] = df['State'].fillna(method='ffill')
    df['Business Activity'] = df['Business Activity'].fillna(method='ffill')

    drops = ['PERIOD:', 'Date:', 'BUSINESS', 'NAME', 'SUMMARY', 'OF', '3']
    for d in drops:
        df = df.drop(df[df['B']==d].index)
        df = df.drop(df[df['C']==d].index)

    for key in drug_codes.keys():
        df.loc[(df['A']==key)&(pd.notnull(df['D'])), 'Drug'] = drug_codes[key]
        df.loc[(df['B']==key)&(pd.notnull(df['E'])), 'Drug'] = drug_codes[key]
        df.loc[(df['C']==key)&(pd.notnull(df['F'])), 'Drug'] = drug_codes[key]
        df.loc[(df['D']==key)&(pd.notnull(df['SUMMARY'])), 'Drug'] = drug_codes[key]
        df.loc[(df['E']==key)&(pd.notnull(df['FOR'])), 'Drug'] = drug_codes[key]

    df = df.drop(df.loc[pd.isnull(df['B'])].index)
    for col in df.columns:
        if len(df.loc[pd.notnull(df[col])])==0:
            df=df.drop(col, axis=1)
    df.rename(columns={'C': 'Registrants', 'D': 'Total grams sold', 'E': 'Avg grams/registrant'}, inplace=True)

    df.loc[pd.notnull(df['FOR']), 'Registrants'] = df['F']
    df.loc[pd.notnull(df['FOR']), 'Total grams sold'] = df['SUMMARY']
    df.loc[pd.notnull(df['FOR']), 'Avg grams/registrant'] = df['FOR']

    df.loc[(pd.notnull(df['SUMMARY']))&(pd.isnull(df['FOR'])), 'Registrants'] = df['Avg grams/registrant']
    df.loc[(pd.notnull(df['SUMMARY']))&(pd.isnull(df['FOR'])), 'Total grams sold'] = df['F']
    df.loc[(pd.notnull(df['SUMMARY']))&(pd.isnull(df['FOR'])), 'Avg grams/registrant'] = df['SUMMARY']

    df.loc[(pd.notnull(df['F']))&(pd.isnull(df['SUMMARY'])), 'Registrants'] = df['Total grams sold']
    df.loc[(pd.notnull(df['F']))&(pd.isnull(df['SUMMARY'])), 'Total grams sold'] = df['Avg grams/registrant']
    df.loc[(pd.notnull(df['F']))&(pd.isnull(df['SUMMARY'])), 'Avg grams/registrant'] = df['F']


    df = df.drop(['A', 'B', 'F', 'SUMMARY', 'FOR'], axis=1)

    cols = ['Registrants', 'Total grams sold', 'Avg grams/registrant']
    for col in cols:
        df[col]=df[col].str.replace(",","").astype(float)

    return df

def clean_activity_2016(df, year):
    df.rename(columns={'ARCOS': "A", '3':'B', '-': 'C', 'REPORT': 'D', '5':'E', 
                           'RETAIL':'TOTAL', 'STATISTICAL': 'F'}, inplace=True)
    df.insert(column='Year', loc=0, value=year)
    df.insert(column='State', loc=1, value=None)
    df.insert(column='Business Activity', loc=2, value=None)
    df.insert(column='Drug', loc=3, value=None)

    df.loc[df['A'].str.contains('STATE:'), 'State'] = \
        df.loc[df['A'].str.contains('STATE:')]['A'].str.split(":", expand=True)[1]
    df.loc[(df['A'].str.contains('STATE:')) & (df['B']!='BUSINESS'), 'State']= \
        df.loc[df['A'].str.contains('STATE:')]['A'].str.split(":", expand=True)[1] +" "+ \
        df.loc[df['A'].str.contains('STATE:')]['B']
    df.loc[(df['A'].str.contains('STATE:')) & (df['B']!='BUSINESS') & (df['C']!='BUSINESS'), 'State']= \
        df.loc[df['A'].str.contains('STATE:')]['A'].str.split(":", expand=True)[1] +" "+ \
        df.loc[df['A'].str.contains('STATE:')]['B'] +" "+df.loc[df['A'].str.contains('STATE:')]['C']

    df.loc[df['B']=='BUSINESS', 'Business Activity']= \
        df.loc[df['B']=='BUSINESS']['C'].str.split(':', expand=True)[1]
    df.loc[df['C']=='BUSINESS', 'Business Activity']= \
        df.loc[df['C']=='BUSINESS']['D'].str.split(':', expand=True)[1]

    for key in activity_codes.keys():
        df.loc[df['Business Activity']==key, 'Business Activity']=activity_codes[key]

    df['State'] = df['State'].fillna(method='ffill')
    df['Business Activity'] = df['Business Activity'].fillna(method='ffill')

    drops = ['PERIOD:', 'Date:', 'BUSINESS', 'NAME', 'SUMMARY', 'OF', '3']
    for d in drops:
        df = df.drop(df[df['B']==d].index)
        df = df.drop(df[df['C']==d].index)

    for key in drug_codes.keys():
        df.loc[(df['A']==key)&(pd.notnull(df['D'])), 'Drug'] = drug_codes[key]
        df.loc[(df['B']==key)&(pd.notnull(df['E'])), 'Drug'] = drug_codes[key]
        df.loc[(df['C']==key)&(pd.notnull(df['F'])), 'Drug'] = drug_codes[key]
        df.loc[(df['D']==key)&(pd.notnull(df['SUMMARY'])), 'Drug'] = drug_codes[key]
        df.loc[(df['E']==key)&(pd.notnull(df['FOR'])), 'Drug'] = drug_codes[key]
        df.loc[(df['FOR']==key)&(pd.notnull(df['PURCHASES'])), 'Drug'] = drug_codes[key]

    df = df.drop(df.loc[pd.isnull(df['B'])].index)
    for col in df.columns:
        if len(df.loc[pd.notnull(df[col])])==0:
            df=df.drop(col, axis=1)
    df.rename(columns={'C': 'Registrants', 'D': 'Total grams sold', 'E': 'Avg grams/registrant'}, inplace=True)

    df.loc[pd.notnull(df['PURCHASES']), 'Registrants'] = df['TOTAL']
    df.loc[pd.notnull(df['PURCHASES']), 'Total grams sold'] = df['DRUG']
    df.loc[pd.notnull(df['PURCHASES']), 'Avg grams/registrant'] = df['PURCHASES']
    df.loc[(pd.notnull(df['FOR']))&(pd.isnull(df['TOTAL'])), 'Registrants'] = df['F']
    df.loc[(pd.notnull(df['FOR']))&(pd.isnull(df['TOTAL'])), 'Total grams sold'] = df['SUMMARY']
    df.loc[(pd.notnull(df['FOR']))&(pd.isnull(df['TOTAL'])), 'Avg grams/registrant'] = df['FOR']

    df.loc[(pd.notnull(df['SUMMARY']))&(pd.isnull(df['FOR'])), 'Registrants'] = df['Avg grams/registrant']
    df.loc[(pd.notnull(df['SUMMARY']))&(pd.isnull(df['FOR'])), 'Total grams sold'] = df['F']
    df.loc[(pd.notnull(df['SUMMARY']))&(pd.isnull(df['FOR'])), 'Avg grams/registrant'] = df['SUMMARY']

    df.loc[(pd.notnull(df['F']))&(pd.isnull(df['SUMMARY'])), 'Registrants'] = df['Total grams sold']
    df.loc[(pd.notnull(df['F']))&(pd.isnull(df['SUMMARY'])), 'Total grams sold'] = df['Avg grams/registrant']
    df.loc[(pd.notnull(df['F']))&(pd.isnull(df['SUMMARY'])), 'Avg grams/registrant'] = df['F']

    df = df.drop(['A', 'B', 'F', 'SUMMARY', 'FOR', "TOTAL", 'DRUG', "PURCHASES"], axis=1)

    cols = ['Registrants', 'Total grams sold', 'Avg grams/registrant']
    for col in cols:
        df[col]=df[col].str.replace(",","").astype(float)

    return df

In [210]:
activity_2000=pd.read_csv('activity_2000.txt', delim_whitespace=True)
activity_2000 = clean_activity_old(activity_2000, 2000)

activity_2001=pd.read_csv('activity_2001.txt', delim_whitespace=True)
activity_2001 = clean_activity_old_2(activity_2001, 2001)

activity_2002=pd.read_csv('activity_2002.txt', delim_whitespace=True)
activity_2002 = clean_activity_old(activity_2002, 2002)

activity_2003=pd.read_csv('activity_2003.txt', delim_whitespace=True)
activity_2003 = clean_activity_old(activity_2003, 2003)

activity_2004=pd.read_csv('activity_2004.txt', delim_whitespace=True)
activity_2004 = clean_activity_old(activity_2004, 2004)

activity_2005=pd.read_csv('activity_2005.txt', delim_whitespace=True)
activity_2005 = clean_activity_old(activity_2005, 2005)

activity_2006=pd.read_csv('activity_2006.txt', delim_whitespace=True)
activity_2006 = clean_activity(activity_2006, 2006)

activity_2007=pd.read_csv('activity_2007.txt', delim_whitespace=True)
activity_2007 = clean_activity_2(activity_2007, 2007)

activity_2008=pd.read_csv('activity_2008.txt', delim_whitespace=True)
activity_2008 = clean_activity_2(activity_2008, 2008)

# 2009, 2010, and 2011 have another very large value 
# that causes a wrapping issue and is easiest to fix manually, as a one-off

activity_2009=pd.read_csv('activity_2009.txt', delim_whitespace=True)
activity_2009 = clean_activity_2(activity_2009, 2009)
activity_2009.loc[2545, ['Drug', 'Registrants', 'Total grams sold', 'Avg grams/registrant']] = \
    [drug_codes['2012'], 1.0, 16896952.51, 16896952.51]
    
activity_2010=pd.read_csv('activity_2010.txt', delim_whitespace=True)
activity_2010 = clean_activity_2(activity_2010, 2010)
activity_2010.loc[2538, ['Drug', 'Registrants', 'Total grams sold', 'Avg grams/registrant']] = \
    [drug_codes['2012'], 1.0, 16120104.19, 16120104.19]
    
activity_2011=pd.read_csv('activity_2011.txt', delim_whitespace=True)
activity_2011 = clean_activity(activity_2011, 2011)
activity_2011.loc[2538, ['Drug', 'Registrants', 'Total grams sold', 'Avg grams/registrant']] = \
    [drug_codes['2012'], 1.0, 17577800.06, 17577800.06]
    
activity_2012=pd.read_csv('activity_2012.txt', delim_whitespace=True)
activity_2012 = clean_activity_2(activity_2012, 2012)

activity_2013=pd.read_csv('activity_2013.txt', delim_whitespace=True)
activity_2013 = clean_activity_2(activity_2013, 2013)

activity_2014=pd.read_csv('activity_2014.txt', delim_whitespace=True)
activity_2014 = clean_activity_2(activity_2014, 2014)

activity_2015=pd.read_csv('activity_2015.txt', delim_whitespace=True)
activity_2015 = clean_activity_2(activity_2015, 2015)

# 2016 is its own special case, and also has a line wrapping issue
activity_2016 = pd.read_csv('activity_2016.txt', delim_whitespace=True)
activity_2016 = clean_activity_2016(activity_2016, 2016)
activity_2016.loc[2386, ['Drug', 'Registrants', 'Total grams sold', 'Avg grams/registrant']] = \
    [drug_codes['2012'], 1.0, 25314852.67, 25314852.67]

In [211]:
# Define a new checksum function - in this case need to check 
# on the average values, no sums to check
def avgs_check(df):
    df['check'] = df['Total grams sold'].div(df['Registrants'], axis=0)
    df['diff'] = df['Avg grams/registrant'] - df['check']
    issues = df.loc[(df['diff'].abs())>0.2]
    if issues.empty:
        print('Averages check passed')
    else:
        return issues
    df.drop(['check', 'diff'], axis=1, inplace=True)

# Define a new duplicates check function

def repeats_check_zip(df):
    df['check'] = df['Year'].astype(str)+df['State']+df['Business Activity']+df['Drug']
    checks = pd.Series(data=df['check'].value_counts())
    errors = checks.loc[checks!=1]
    if errors.empty:
        print('Repeats checks passed')
    else:
        return errors
    df.drop(['check'], axis=1, inplace=True)

In [212]:
activity_dfs = {'2000': activity_2000, '2001': activity_2001, '2002': activity_2002, '2003': activity_2003, 
                '2004': activity_2004, '2005': activity_2005, '2006': activity_2006, '2007': activity_2007, 
                '2008': activity_2008, '2009': activity_2009, '2010': activity_2010, '2011': activity_2011, 
                '2012': activity_2012, '2013': activity_2013, '2014': activity_2014, '2015': activity_2015, 
                '2016': activity_2016}

for f in activity_dfs.keys():
    print('Checking {} file...'.format(f))
    avgs_check(activity_dfs[f])
    repeats_check_zip(activity_dfs[f])
    check_states(activity_dfs[f])
    print()
    print()

Checking 2002 file...
Averages check passed
All expected state values present


Checking 2010 file...
Averages check passed
All expected state values present


Checking 2009 file...
Averages check passed
All expected state values present


Checking 2012 file...
Averages check passed
All expected state values present


Checking 2001 file...
Averages check passed
State values not matching: {'AMERICAN SAMOA'}


Checking 2013 file...
Averages check passed
All expected state values present


Checking 2004 file...
Averages check passed
All expected state values present


Checking 2015 file...
Averages check passed
All expected state values present


Checking 2016 file...
Averages check passed
All expected state values present


Checking 2007 file...
Averages check passed
All expected state values present


Checking 2006 file...
Averages check passed
All expected state values present


Checking 2014 file...
Averages check passed
All expected state values present


Checking 2005 file...
Averages check passed
All expected state values present


Checking 2011 file...
Averages check passed
All expected state values present


Checking 2000 file...
Averages check passed
State values not matching: {'AMERICAN SAMOA'}


Checking 2008 file...
Averages check passed
All expected state values present


Checking 2003 file...
Averages check passed
All expected state values present

In [213]:
activity_all = pd.concat(list(activity_dfs.values()), ignore_index=True)

activity_all.to_csv('distribution_by_activity.csv', index=False)

Data cleansing finished! On to do some exploratory data analysis and visualization.